<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <context:property-placeholder location = "classpath:sport.properties"/>
    
        <bean id = "newFortune"
    class = "com.springdemoone.com.NewFortuneToday">
    </bean>
    
    <bean id = "myFortune"
    class = "com.springdemoone.com.HappyFortuneService">
    </bean>
    
    <bean id = "myCoach"
    class = "com.springdemoone.com.BaseballCoach">
    <constructor-arg ref = "newFortune"/>
    </bean>   
    
    <bean id = "myCricketCoach"
    class = "com.springdemoone.com.CricketCoach">
    <property name="fortuneService" ref = "myFortune"/>
    <property name="emailAddress" value = "${email}"/>
    <property name="team" value = "${team}"/>
    </bean>
       
</beans>





