<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<!-- This context parameter is the way we indicates to Spring where it has 
		to find its configuration files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- A word on the classpath"*": without the star, Spring class loader 
			will only search in the project files and no in the jars. It has to be known 
			or it can be a long search before understanding why configuration files are 
			not red. With the "classpath*:" all files with the right name in any jar 
			will match. It changes nothing in this example but it's an excuse to explain 
			it -->
		<param-value>
			/WEB-INF/spring-service.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/*.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

</web-app>
