<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />

	<context:property-placeholder
		ignore-resource-not-found="true" system-properties-mode="OVERRIDE"
		location="classpath*:application.properties" />

	<!-- dataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- DB connection properties -->
		<property name="driverClass" value="${db.driver:oracle.jdbc.OracleDriver}" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="user" value="${db.user:}" />
		<property name="password" value="${db.password:}" />

		<!-- Pool sizing properties -->
		<property name="initialPoolSize" value="${db.pool.initialSize:5}" />
		<property name="maxPoolSize" value="${db.pool.maxSize:25}" />
		<property name="minPoolSize" value="${db.pool.minSize:0}" />
		<property name="maxStatements" value="${db.pool.maxStatements:10}" />
	</bean>



	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<bean id="namedParameterJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg name="dataSource" ref="dataSource" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg name="dataSource" ref="dataSource" />
	</bean>

	<context:component-scan base-package="com.srujanonit.app.dao.repo.**" />
	<context:component-scan base-package="com.srujanonit.app.dao.model.**" />
	<context:component-scan base-package="com.srujanonit.app.dto.helper.**" />
	<context:component-scan base-package="com.srujanonit.app.service.**" />

	<!-- Start of JPA Configuraiotn -->

	<!-- <jpa:repositories base-package="com.fserv.jpa.repo" /> -->

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.srujanonit.app.dao.model.**" />
		<property name="jpaVendorAdapter" ref="jpaHibernateAdapter" />
		<property name="jpaDialect" ref="jpaHibernateDialect" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.show_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
			</props>
		</property>
	</bean>

	<bean id="jpaHibernateAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />

	<bean id="jpaHibernateDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />

	<bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="jpaTransactionManager" />

	<context:component-scan base-package="com.srujanonit.app.dao.repo.**" />

	<!--End of JPA Configuraiotn -->

</beans>